[package]
name = "client"
version = "0.1.0"
edition = "2018"

[dependencies]
mio = "0.6.8"
clap = "2"
term_size = "0.3"
textwrap = "0.9"
toml = "0.4"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
parking_lot = "0.6"
panic_hook = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
io = { path = "../util/io" }
monitor = { path = "../util/monitor" }
keylib = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git", package = "ethkey" }
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = "10.1.0"
jsonrpc-macros = "10.1.0"
jsonrpc-tcp-server = "10.1.0"
jsonrpc-http-server = "10.1.0"
error-chain = { version = "0.12" }
log = "0.4"
cfx-types = { path = "../cfx_types" }
cfx-bytes = { path = "../cfx_bytes" }
slab = "0.2"
cfxcore = { path = "../core" }
network = { path = "../network" }
db = { path = "../db" }
blockgen = { path = "../blockgen" }
txgen = { path = "../transactiongen" }
secret-store = { path = "../secret_store" }
primitives = { path = "../primitives" }
log4rs = "0.8.1"
rlp = "0.3.0"
keccak-hash = "0.1.2"
rand = "0.5"
kvdb-rocksdb = "0.1.3"
tempdir = "0.3"
rustc-hex= "1.0"
threadpool = "1.0"

[dev-dependencies]
criterion = "0.2"

[[bench]]
name = "benchmark"
harness = false
