[package]
name = "client"
version = "0.1.0"
edition = "2018"

[dependencies]
mio = "0.6.8"
clap = "2"
term_size = "0.3"
textwrap = "0.9"
toml = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
parking_lot = "0.8"
panic_hook = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
io = { path = "../util/io" }
ethkey = { path = "../accounts/ethkey" }
ethstore = { path = "../accounts/ethstore" }
ethcore-accounts = { path = "../accounts" }
app_dirs = { git = "https://github.com/paritytech/app-dirs-rs" }
dir = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = "=12.0.0"
jsonrpc-tcp-server = "=12.0.0"
jsonrpc-http-server = "=12.0.0"
jsonrpc-derive = "=12.0.0"
jsonrpc-core-client = "=12.0.0"
jsonrpc-pubsub = "=12.0.0"
error-chain = { version = "0.12" }
log = "0.4"
cfx-types = { path = "../cfx_types" }
cfx-bytes = { path = "../cfx_bytes" }
runtime = { path = "../util/runtime" }
slab = "0.2"
cfxcore = { path = "../core" }
network = { path = "../network" }
db = { path = "../db" }
blockgen = { path = "../blockgen" }
txgen = { path = "../transactiongen" }
secret-store = { path = "../secret_store" }
primitives = { path = "../primitives" }
log4rs = "0.8.1"
rlp = "0.4.0"
keccak-hash = "0.2.0"
rand = "=0.6"
kvdb-rocksdb = "=0.1.4"
tempdir = "0.3"
rustc-hex= "1.0"
threadpool = "1.0"
metrics = { path = "../util/metrics" }
delegate = "0.2.0"
transient-hashmap = "0.4"
rand_xorshift = "0.1.1"
itertools = "0.5"
order-stat = "0.1"

[dev-dependencies]
criterion = "0.2"

[[bench]]
name = "benchmark"
harness = false
