[package]
name = "client"
version = "0.1.0"
edition = "2018"

[dependencies]
mio = "0.6.8"
clap = "2"
term_size = "0.3"
textwrap = "0.9"
toml = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
parking_lot = "0.10"
panic_hook = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
io = { path = "../util/io" }
ethkey = { path = "../accounts/ethkey" }
ethstore = { path = "../accounts/ethstore" }
ethcore-accounts = { path = "../accounts" }
app_dirs = { git = "https://github.com/paritytech/app-dirs-rs" }
dir = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = "14.0.0"
jsonrpc-tcp-server = "14.0.0"
jsonrpc-http-server = "14.0.0"
jsonrpc-derive = "14.0.0"
jsonrpc-core-client = "14.0.0"
jsonrpc-pubsub = "14.0.0"
error-chain = { version = "0.12" }
log = "0.4"
executable-helpers = { path = "../core/src/alliance_tree_graph/bft/common/executable-helpers", version = "0.1.0" }
cfx-types = { path = "../cfx_types" }
cfx-bytes = { path = "../cfx_bytes" }
runtime = { path = "../util/runtime" }
slab = "0.4"
cfxcore = { path = "../core" }
network = { path = "../network" }
db = { path = "../db" }
blockgen = { path = "../blockgen" }
txgen = { path = "../transactiongen" }
secret-store = { path = "../secret_store" }
primitives = { path = "../primitives" }
log4rs = "0.9.0"
rlp = "0.4.0"
keccak-hash = "0.4"
rand = "0.7.2"
kvdb-rocksdb = {path="../db/src/kvdb-rocksdb"}
tempdir = "0.3"
rustc-hex= "1.0"
threadpool = "1.0"
metrics = { path = "../util/metrics" }
delegate = "0.2.0"
transient-hashmap = "0.4"
rand_xorshift = "0.2"
itertools = "0.8"
order-stat = "0.1"
futures01 = "0.1"
futures = { version = "0.3.3", features = ["compat"] }
rayon = "1.2.0"
throttling = { path = "../util/throttling" }
libra-config = { path = "../core/src/alliance_tree_graph/bft/config" }
libradb = { path = "../core/src/alliance_tree_graph/bft/storage/libradb" }
libra-metrics = { path = "../core/src/alliance_tree_graph/bft/common/metrics" }
libra-crypto = { path = "../core/src/alliance_tree_graph/bft/crypto/crypto" }
tokio-timer = "0.2.13"

[dev-dependencies]
criterion = "0.2"

[[bench]]
name = "benchmark"
harness = false
