target
*.profraw
**/Cargo.lock
**/target
**/*.rs.bk
**/__pycache__
.idea/
.vscode/
.git/
.gitmodules
.phabricator*
build/
build_clippy/
**/blockchain_data/
**/pos_db/
**/sqlite_db/
**/net_config/
**/*.log
**/stderr.txt
**/testnet.toml
*~
.DS_Store
tests/artifacts/**/*.dbg.json
venv
.venv