[package]
name = "conflux"
version = "1.0.0"
edition = "2018"
build = "build.rs"

[dependencies]
mio = "0.6.8"
clap = { version = "2", features = ["yaml"] }
textwrap = "0.9"
toml = "0.4"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
parking_lot = "0.11"
panic_hook = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git", rev = "1597a9cab02343eb2322ca0ac58d39b64e3f42d1"  }
app_dirs = "1.2.1"
dir = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git", rev = "1597a9cab02343eb2322ca0ac58d39b64e3f42d1"  }
cfxstore = { path = "accounts/cfxstore" }
cfxcore-accounts = { path = "accounts" }
home = "0.5.0"
rpassword = "4.0.1"
io = { path = "util/io" }
runtime = { path = "util/runtime" }
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git", rev="b523017108bb2d571a7a69bd97bc406e63bc7a9d" }
jsonrpc-core = "15.1.0"
jsonrpc-tcp-server = "15.1.0"
jsonrpc-http-server = "15.1.0"
jsonrpc-core-client = { version = "15.1.0", features = ["http"] }
error-chain = { version = "0.12" }
log = "0.4"
slab = "0.4"
cfxcore = { path = "core" }
network = { path = "network" }
db = { path = "db" }
blockgen = { path = "blockgen" }
txgen = { path = "transactiongen" }
secret-store = { path = "secret_store" }
primitives = { path = "primitives" }
log4rs = "0.9.0"
rlp = "0.4.0"
keccak-hash = "0.5"
rand = "0.7"
kvdb-rocksdb = {path="db/src/kvdb-rocksdb"}
client = { path = "client" }
cfx-types = { path = "cfx_types" }
threadpool = "1.7"
futures = "0.1.29"
docopt = "1.0"
cfxkey = { path = "accounts/cfxkey" }
parity-wordlist = "1.3.0"
rustc-hex = "2.0.1"
env_logger = "0.5"
malloc_size_of = {path="util/malloc_size_of"}

[target.'cfg(not(target_env = "msvc"))'.dependencies.jemallocator]
version = "0.3.2"
optional = true

[[bin]]
name = "consensus_bench"
path = "core/benchmark/consensus/src/main.rs"

[[bin]]
name = "cfx-gen-dot"
path = "tools/cfx-gen-dot/main.rs"

[[bin]]
name = "cfxkey"
path = "accounts/cfxkey/cli/src/main.rs"

[[bin]]
name = "tg_config_gen"
path = "tools/tg_config_gen/main.rs"

# Use workspace section to allow test all cases under root folder (cargo test --all).
[workspace]

[features]
default = ["jemalloc-global"]
deadlock-detection = ["parking_lot/deadlock_detection"]
jemalloc-global = ["jemallocator", "malloc_size_of/jemalloc-global"]

[patch.crates-io]
sqlite3-sys = { git = "https://github.com/Conflux-Chain/sqlite3-sys.git", rev = "1de8e5998f7c2d919336660b8ef4e8f52ac43844" }

[profile.test]
debug-assertions = true

[profile.bench]
debug-assertions = true
overflow-checks = true

[profile.release]
overflow-checks = true
# Temporarily run with debug assertion before main-net release.
debug-assertions = true
