[package]
name = "conflux"
version = "0.1.1"
edition = "2018"

[dependencies]
mio = "0.6.8"
clap = "2"
term_size = "0.3"
textwrap = "0.9"
toml = "0.4"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
parking_lot = {version="0.6"}
panic_hook = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
io = { path = "util/io" }
ctrlc = { git = "https://github.com/paritytech/rust-ctrlc.git" }
jsonrpc-core = "12.0.0"
jsonrpc-tcp-server = "12.0.0"
jsonrpc-http-server = "12.0.0"
error-chain = { version = "0.12" }
log = "0.4"
ethereum-types = "0.4"
slab = "0.2"
cfxcore = { path = "core" }
network = { path = "network" }
db = { path = "db" }
blockgen = { path = "blockgen" }
txgen = { path = "transactiongen" }
secret-store = { path = "secret_store" }
primitives = { path = "primitives" }
log4rs = "0.8.1"
rlp = "0.3.0"
keccak-hash = "0.1.2"
rand = "0.5"
kvdb-rocksdb = "0.1.3"
client = { path = "client" }
cfx-types = { path = "cfx_types" }
threadpool = "1.7"

[[bin]]
name = "consensus_bench"
path = "core/benchmark/consensus/src/main.rs"

[[bin]]
name = "cfx-gen-dot"
path = "tools/cfx-gen-dot/main.rs"

# Use workspace section to allow test all cases under root folder (cargo test --all).
[workspace]

[patch.crates-io]
heapsize = { git = "https://github.com/cheme/heapsize.git", branch = "ec-macfix" }
kvdb-rocksdb = {path = "./db/src/kvdb-rocksdb"}

[features]
deadlock_detection = ["parking_lot/deadlock_detection"]
