# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*	global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js	@js-owner


# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*	docs@example.com

# Updates to Message Id and CUD of Message types can cause
# backwards compatibility issues.
#
# @yangzhe1990 is responsible to review. Should form a team
# later on.
# 
core/src/light_protocol/message/message.rs	@yangzhe1990
core/src/light_protocol/mod.rs			@yangzhe1990
core/src/sync/message/message.rs		@yangzhe1990
core/src/sync/mod.rs			@yangzhe1990


changelogs/*.md	@Conflux-Chain/spec-change-review
