[package]
name = "metrics"
version = "0.1.0"
edition = "2021"

[dependencies]
lazy_static = { workspace = true }
parking_lot = { workspace = true }
timer = { workspace = true }
time = { workspace = true }
rand = { workspace = true }
influx_db_client = { workspace = true }
log = { workspace = true }
log4rs = { workspace = true, features = ["background_rotation", "gzip"] }
futures = { workspace = true }
tokio = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
duration-str = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }

[[bench]]
name = "benchmark"
harness = false