[package]
description = "Conflux random crash library"
homepage = "https://www.confluxnetwork.org"
license = "GPL-3.0"
name = "random-crash"
version = "1.0.0"
edition = "2021"

[dependencies]
lazy_static = { workspace = true }
log = { workspace = true }
parking_lot = { workspace = true }
rand = { workspace = true }

[features]
random_crash = []
default = ["random_crash"]
