[package]
description = "Conflux core library"
homepage = "http://www.conflux-chain.org"
license = "GPL-3.0"
name = "cfxcore"
version = "0.2.2"
edition = "2018"

[dependencies]
grpcio = { version = "=0.5.0-alpha.4", default-features = false }
num-derive = { version = "0.2.5", default-features = false }
num-traits = { version = "0.2.8", default-features = false }
anyhow = "1.0"
bit-set = "0.4"
bn = { git = "https://github.com/paritytech/bn", default-features = false }
byteorder = "1.0"
cfx-stratum = { path = "../blockgen/stratum" }
cfx-types = { path = "../cfx_types" }
cfx-bytes = { path = "../cfx_bytes" }
log = "0.4"
rlp = "0.4.0"
rlp_derive = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
clap = "2"
db = { path = "../db" }
cfxkey = { path = "../accounts/cfxkey" }
error-chain = { version = "0.12", default-features = false }
fallible-iterator = "0.2"
fs_extra = "1.1.0"
heapsize = "0.4"
futures = {version="0.3.3", features = ["compat"]}
hibitset = { path = "../util/hibitset" }
io = { path = "../util/io" }
keccak-hash = "0.4"
kvdb = "0.4"
kvdb-rocksdb = {path="../db/src/kvdb-rocksdb"}
link-cut-tree = { path = "../util/link-cut-tree" }
log-device = { path = "../util/log_device" }
log4rs = "0.9.0"
lru = "0.1.11"
lru_time_cache = "0.9.0"
malloc_size_of = {path = "../util/malloc_size_of"}
malloc_size_of_derive = {path = "../util/malloc_size_of_derive"}
memoffset = "0.5.1"
memory-cache = { path = "../util/memory-cache" }
metrics = { path = "../util/metrics" }
network = { path = "../network" }
num = "0.2"
parity-bytes = "0.1"
parity-crypto = "0.3.0"
parking_lot = "0.10"
primitives = { path = "../primitives", optional = true }
priority-send-queue = { path = "../util/priority-send-queue" }
rand = "0.7"
rand_chacha="0.2.1"
rand_xorshift="0.2"
rayon = "1.0"
rustc-hex = "1.0"
secret-store = { path = "../secret_store" }
serde = "1.0"
serde_derive = "1.0"
siphasher = "0.3"
slab = "0.4"
sqlite = "0.25"
sqlite3-sys = "0.12"
toml = "0.4"
strfmt = "0.1"
throttling = { path = "../util/throttling" }
serde_json = "1.0"
tokio = { version = "0.2", features = ["full"] }
termion = { version = "1.5.3", default-features = false }
mirai-annotations = { version = "1.4.0", default-features = false }
libra-canonical-serialization = { path = "src/alliance_tree_graph/bft/common/lcs" }
prometheus = { version = "0.7.0", default-features = false }
thiserror = "1.0"
async-trait = "0.1"
lazy_static = { version = "1.3.0", default-features = false }
libra-types = { path = "src/alliance_tree_graph/bft/types" }
libra-logger = { path = "src/alliance_tree_graph/bft/common/logger" }
libra-crypto = { path = "src/alliance_tree_graph/bft/crypto/crypto" }
schemadb = { path = "src/alliance_tree_graph/bft/storage/schemadb" }
libra-config = { path = "src/alliance_tree_graph/bft/config" }
libra-crypto-derive = { path = "src/alliance_tree_graph/bft/crypto/crypto-derive" }
libra-nibble = { path = "src/alliance_tree_graph/bft/common/nibble" }
libra-proptest-helpers = { path = "src/alliance_tree_graph/bft/common/proptest-helpers" }
libra-tools = { path = "src/alliance_tree_graph/bft/common/tools" }
libra-metrics = { path = "src/alliance_tree_graph/bft/common/metrics" }
channel = { path = "src/alliance_tree_graph/bft/common/channel" }
futures-semaphore = { path = "src/alliance_tree_graph/bft/common/futures-semaphore" }
libra-prost-ext = { path = "src/alliance_tree_graph/bft/common/prost-ext" }
scratchpad = { path = "src/alliance_tree_graph/bft/storage/scratchpad" }
libra-state-view = { path="src/alliance_tree_graph/bft/storage/state-view" }
storage-proto = { path = "src/alliance_tree_graph/bft/storage/storage-proto" }
libradb = { path = "src/alliance_tree_graph/bft/storage/libradb" }
threadpool = "1.0"
unexpected = { git = "https://github.com/Conflux-Chain/conflux-parity-deps.git" }
zip = "*"
tokio-timer = "0.2.13"

[dev-dependencies]
criterion = "0.2"
primitives = { path = "../primitives", features = ["test_no_account_length_check"] }
tokio = { version = "0.2.11", features = ["time"] }

[dependencies.parity-util-mem]
version = "0.5"
default-features = false

[features]
default = ["primitives"]
fuzzing = ["libra-crypto/fuzzing", "libra-types/fuzzing"]
