[package]
name = "db"
version = "0.1.0"
edition = "2018"

[dependencies]
log = "0.4"
kvdb-rocksdb = "0.1.4"
kvdb = {git="https://github.com/paritytech/parity-common.git", branch="ao-upstream-rocksdb", version = "0.2"}