[package]
description = "Conflux core storage library"
homepage = "https://www.confluxnetwork.org"
license = "GPL-3.0"
name = "cfx-storage"
version = "1.0.0"
edition = "2021"

[dependencies]
cfg-if = { workspace = true }
cfx-db-errors = { workspace = true }
cfx-internal-common = { workspace = true }
cfx-types = { workspace = true }
delegate = "0.5.0"
derivative = { workspace = true }
fallible-iterator = { workspace = true }
fs_extra = { workspace = true }
futures = { workspace = true, features = ["compat"] }
hashbrown = { workspace = true }
keccak-hash = { workspace = true }
kvdb = { workspace = true }
kvdb-rocksdb = { workspace = true }
lazy_static = { workspace = true }
log = { workspace = true }
log4rs = { workspace = true, features = ["background_rotation", "gzip"] }
malloc_size_of = { workspace = true }
malloc_size_of_derive = { workspace = true }
memoffset = { workspace = true }
parking_lot = { workspace = true }
primitives = { workspace = true, optional = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
random-crash = { workspace = true }
rlp = { workspace = true }
rlp_derive = { workspace = true }
rustc-hex = { workspace = true }
serde = { workspace = true, features = ["rc"] }
sqlite = { workspace = true }
sqlite3-sys = { workspace = true }
strfmt = { workspace = true }
tokio02 = { workspace = true, features = ["full"] }
parity-util-mem = { workspace = true, default-features = false }
cfx-util-macros = { workspace = true }

[dev-dependencies]
primitives = { workspace = true, features = ["test_no_account_length_check"] }

[features]
default = ["primitives"]
# Unfortunately cfg test attributes doesn't work across crates,
# we have to define a feature for test code.
# https://users.rust-lang.org/t/cfg-test-doesnt-propagate-to-external-crates/13046
testonly_code = []
u64_mpt_db_key = []
