[package]
description = "Conflux consensus benchmark"
homepage = "https://www.confluxnetwork.org"
license = "GPL-3.0"
name = "consensus_bench"
version = "0.1.0"
edition = "2021"

[dependencies]
cfxcore = { workspace = true }
cfx-types = { workspace = true }
primitives = { workspace = true }
db = { workspace = true }
threadpool = "1.0"
parking_lot = { workspace = true }
log4rs = { workspace = true, features = ["background_rotation", "gzip"] }
log = { workspace = true }

[dev-dependencies]

[workspace]
# Note: try to list it in the top level workspace and to exclude it from cfxcore.

[profile.release]
debug = false
