name: Deploy Docs

on:
  push:
    branches:
      - master

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
  
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "nightly-2024-02-04"
          
      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Generate documentation
        env:
          CMAKE_POLICY_VERSION_MINIMUM: 3.5
          RUSTDOCFLAGS: '--enable-index-page -Z unstable-options'
        run: |
          rustup default nightly-2024-02-04 && cargo +nightly-2024-02-04 doc --no-deps

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc