name: Deploy Docs

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  deploy:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Generate documentation
        env:
          CMAKE_POLICY_VERSION_MINIMUM: 3.5
          RUSTDOCFLAGS: "--enable-index-page -Z unstable-options"
        run: |
          rustup default nightly-2024-04-22 && cargo +nightly-2024-04-22 doc --no-deps

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
